<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TsukasaChan.ShopVault.mapper.YOLOMappingMapper">

    <resultMap id="BaseResultMap" type="com.TsukasaChan.ShopVault.mapper.system.YOLOMapping">
            <id property="id" column="id" />
            <result property="yoloLabel" column="yolo_label" />
            <result property="categoryId" column="category_id" />
            <result property="confidenceThreshold" column="confidence_threshold" />
            <result property="isActive" column="is_active" />
    </resultMap>

    <sql id="Base_Column_List">
        id,yolo_label,category_id,confidence_threshold,is_active
    </sql>
</mapper>
